<html>
<head>
	<link rel='stylesheet' href='/static/css/csv.css'>
	<link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
	<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	
    <title>TOP</title>
</head>
<body>
	<div class="list-group">
		<a href="hello/history" class="list-group-item list-group-item-action">History</a>
		<a href="hello/details" class="list-group-item list-group-item-action">Details</a>
		<a href="hello/candles" class="list-group-item list-group-item-action">Candles</a>
		<a href="hello/calendar" class="list-group-item list-group-item-action">Calendar</a>
		<a href="hello/transactions" class="list-group-item list-group-item-action">Transactions</a>
		<a href="hello/system" class="list-group-item list-group-item-action">System</a>
		<a href="line/send" class="list-group-item list-group-item-action">Line</a>
	</div>
    <script type="text/javascript" src="/static/js/csv.js"></script>
</body>
</html>